{% extends "web_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <br>
    <br>
    <br>
    <div class="container">
        <h3></h3>
    </div>
</div>

<!-- other one -->

<div class="container contact-form">
    <div class="contact-image">
        <img src="{% static 'web_app/profile_photo.jpeg' %}" alt="logo"/>
    </div>
    <div class="contact-image2">
        <img src="{% static 'web_app/street_sign_logo_wht_circ.png' %}" alt="logo"/>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <h3>Contact us and let's get to work!</h3>
        {% csrf_token %}
        {{ form|crispy }}
            <div class="form-group">
                <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
            </div>
    </form>
</div>

{% endblock content %}
