{% extends "web_app/base.html" %}

{% load static %}



{% block content %}

<!-- hero image section -->
    <section class="detail-hero mt-4">

        <div class="hero-inner">
                    <img class="detail-hero-img" src="{{ object.project_logo.url }}" alt="logo">
                    <h1 class="detail-hero-text">{{ object.title }}</h1>
        </div>
    </section>

<div class="container mt-4">
  <div class="row">
      <!-- title -->
<!--      <h3 class="mb-6"><span class="font-weight-light">Project Name:</span> {{ object.title }}</h3>-->

    <!-- Progress Bar -->
    <div id="myProgress" class="mb-3">
        {% if object.progress == 25 %}
          <div id="myBar25">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 50 %}
          <div id="myBar50">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 75 %}
          <div id="myBar75">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 100 %}
          <div id="myBar100">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 0 %}
          <div id="myBar00">Progress: {{ object.progress }}%</div>
        {% endif %}
    </div>

    <!-- table -->
     <table class="table mb-4">
        <tbody>
          <tr>
            <td>Elevator Pitch</td>
            <td>{{ object.description }}</td>
          </tr>
          {% if object.market %}
            <tr>
              <td>Market</td>
              <td>{{ object.market }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
  </div>
</div>


  {% if object.github_url %}
    <div class="container">
        <div class="row">
            <a href="{{ object.github_url }}"
            target="_blank"><img class="mb-3"
            style="width:55%;"
            src="{% static 'web_app/github_button.png' %}"
            alt="github_url"></a></td>
        </div>
      </div>
  {% endif %}



      <!-- screen grab gallery -->
      <div class="container">

        <h3 class="mb-3 font-weight-light">Project Screenshots:</h3>

        <div class="row text-center text-lg-left">

        {% for screengrab in screengrabs %}
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="card-img-top border border-dark rounded" src="{{ screengrab.screen_grab.url }}" alt="alt">
            </a>
          </div>
        {% endfor %}
        </div>
      </div>

<!-- Project Update Logs -->


<div class="container">
  <div class="row">
    {% for log in logs %}
      <div class="col-md-12">
          <div class="media g-mb-30 media-comment">
              <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
              <div class="media-log-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                  <h5 class="h5 g-color-gray-dark-v1 mb-0">title {{ log.title }}</h5>
                  <span class="g-color-gray-dark-v4 g-font-size-12">date {{ log.date_published }}</span>
                </div>
          
                <p>description {{ log.description }}</p>
          
                <ul class="list-inline d-sm-flex my-0">
                  <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                      178?
                    </a>
                  </li>
                  <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                      34?
                    </a>
                  </li>
                  <li class="list-inline-item ml-auto">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                      Reply?
                    </a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}