{% extends "web_app/base.html" %}



{% block content %}

<!-- hero image section -->
    <section class="detail-hero mt-4">

        <div class="hero-inner">
                    <img class="detal-hero-img" src="{{ object.project_logo.url }}" alt="logo">
                    <h1 class="detail-hero-text">{{ object.title }}</h1>
        </div>
    </section>

<div class="container mt-4">
  <div class="row">
      <!-- title -->
<!--      <h3 class="mb-6"><span class="font-weight-light">Project Name:</span> {{ object.title }}</h3>-->

    <!-- Progress Bar -->
    <div id="myProgress" class="mb-3">
        {% if object.progress == 25 %}
          <div id="myBar25">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 50 %}
          <div id="myBar50">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 75 %}
          <div id="myBar75">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 100 %}
          <div id="myBar100">Project Progress: {{ object.progress }}%</div>
        {% elif object.progress == 0 %}
          <div id="myBar50">Project Progress: {{ object.progress }}%</div>
        {% endif %}
    </div>

    <!-- table -->
     <table class="table mb-4">
        <tbody>
          <tr>
            <td>Elevator Pitch</td>
            <td>{{ object.description }}</td>
          </tr>
          <tr>
            <td>Market</td>
            <td>{{ object.market }}</td>
          </tr>
          <tr>
            <td>Requirements</td>
            <td>
            {% for requirement in requirements %}
                    <li class="mb-2">{{ requirement.client_requirement }}</li>
            {% endfor %}
            </td>


          </tr>
        </tbody>
     </table>


      <!-- screen grab gallery -->

      <h3 class="mb-3 font-weight-light">Project Screenshots:</h3>

      <div class="row text-center text-lg-left">

      {% for screengrab in screengrabs %}
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="card-img-top border border-dark rounded" src="{{ screengrab.screen_grab.url }}" alt="alt">
          </a>
        </div>
      {% endfor %}
      </div>
  </div>
</div>


{% endblock content %}